# Service account key
service_acount_key.json

# data directory
data/

# tmp
tmp/*

# terraform files
.terraform.lock.hcl
terraform/.terraform/*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate

# git directory
.git/*
tmp/functions.zip
tmp/data.zip
